---
import Container from '../components/Container.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Harry Keightley">
	<div class="mt-8">
		<h1 class="text-3xl font-semibold">Harry Keightley</h1>
		<p class="mt-2 text-gray-800 font-mono">I write glyphs that make rocks think.</p>
	</div>
	<div class="mt-6">
		<a href='https://github.com/harrykeightley' class="inline-block">
			<img src='/github.png' class="h-8 w-8"/>
		</a>
	</div>
</Layout>
