---
import Container from '../components/Container.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="title">Harry Keightley</h1>
  <p class="subtitle mt-2">I write glyphs that make rocks think.</p>
</Layout>
