---
import Container from '../components/Container.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';

const description = `Harry Keightley is a full-stack developer, senior RA at UQ, and big nerd.
This is where he puts content so that he doesn't forget`
---

<Layout description={description}>
  <div class="space-y-8">
    <section>
      <h1 class="title">Harry Keightley</h1>
      <p class="subtitle mt-2">Full-stack Developer
      <img alt="Harry inna field" src="/harry.jpg" class="mt-4 w-80"/>
    </section>

    <section>
      <h2 class="title">About me</h2>
      <section class="mt-2 space-y-2">
        <p>
          I'm a full-stack developer, currently working as a builder at 
          <a class="link" href="https://www.a.team/">a.team</a>, 
          and as a Senior RA at the 
          <a class="link" href='https://www.uq.edu.au/'>University of Queensland</a>
        </p>
        <p>I am forever working on personal projects and tools, which you can find 
          <a class="link" href="/projects">here</a>.
        </p>
        <p>I have a passion for teaching, and previously taught programming at UQ as a TA for 5 years.</p>
        <p>I am also told that I'm a bad luck charm in the surf.</p>
        <p>私は日本語を勉強します。</p>
      </section>
    </section>

    <section>
      <h2 class="title">Contact</h2>
      <p class="mt-2">
        To get in touch, or for freelance enquiries, 
        <a class="text-blue-500 decoration-blue-500 underline" href="mailto:harrykeightley@outlook.com" >send me an email</a>.
      </p>
    </section>
  </div>
</Layout>
