---
import Container from '../components/Container.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="title">Harry Keightley</h1>
  <p class="subtitle mt-2">Computer Scientist @ <a href='https://www.uq.edu.au/'>UQ</a></p>
</Layout>
