---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects | Harry Keightley">
    <div class="mt-8">
        <h1 class="text-3xl font-semibold">Projects</h1>
        <p class="mt-2 text-gray-800 font-mono">Stuff I've done</p>
    </div>

    <div class="mt-8 space-y-6">
        <div>
            <h2 class="font-semibold text-lg mb-1">wordcrossing.com</h2>
            <p class="text-sm font-mono">A daily word puzzle in which my girlfriend destroys me.</p>
        </div>
        <div>
            <h2 class="font-semibold text-lg mb-1">piksi</h2>
            <p class="text-sm font-mono">An app which helps people make decisions.</p>
        </div>
        <div>
            <h2 class="font-semibold text-lg mb-1">elpis.cloud</h2>
            <p class="text-sm font-mono">Low resource transcription in the cloud.</p>
        </div>
        <div>
            <h2 class="font-semibold text-lg mb-1">helpfulpython.com</h2>
            <p class="text-sm font-mono">A introductory python course for you.</p>
        </div>
    </div>
</Layout>
