---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
---

<Layout title="Projects">
  <h1 class="title">Projects</h1>
  <p class="mt-2 subtitle">Stuff I've done</p>

  <div class="mt-8 space-y-6">
    <Project 
      title="wordcrossing.com" 
      url="https://www.wordcrossing.com"
      description="A daily word puzzle in which my girlfriend destroys me."
    />
    <Project 
      title="elpis" 
      url="https://github.com/CoEDL/elpis_lib"
      description="Open-source API for 🤗 transformers ASR"
    />
    <Project 
      title="elan-vad" 
      url="https://github.com/CoEDL/elan-vad"
      description="Voice-audio-detection library for elan files."
    />
    <Project 
      title="piksi" 
      description="An app which helps people make decisions."
      wip
    />
    <Project 
      title="helpfulpython.com" 
      description="A introductory python course for you."
      wip
    />
  </div>
</Layout>
