---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
---

<Layout title="Projects">
  <section>
    <h1>Projects</h1>
    <ul class="mt-8 space-y-6">
      <Project 
        title="wordcrossing.com" 
        url="https://www.wordcrossing.com"
        description="A daily word puzzle in which my girlfriend destroys me."
      />
      <Project 
        title="run-in.app" 
        url="https://run-in.app"
        description="A simple encounter manager for DnD 5e"
      />
      <Project 
        title="elpis" 
        url="https://github.com/CoEDL/elpis_lib"
        description="Open-source API for 🤗 transformers ASR"
      />
      <Project 
        title="elan-vad" 
        url="https://github.com/CoEDL/elan-vad"
        description="Voice-audio-detection library for elan files."
      />
    </ul>
  </section>

  <section>
    <h2 class="mt-16">Other Sites</h2>
    <ul class="mt-8 space-y-6">
      <Project 
        title="gambay" 
        url="https://gambay.com.au"
        description="Australian Indigenous Language Map"
      />
      <Project 
        title="beds with benefits" 
        url="https://bedswithbenefits.com"
        description="Direct Australian bookings, commission free."
      />
      <Project 
        title="atap.edu.au" 
        url="https://atap.edu.au"
        description="The Australian Text Analytics Platform"
      />
      <Project 
        title="ldaca.edu.au" 
        url="https://atap.edu.au"
        description="The Language Data Commons of Australia"
      />
      <Project 
        title="kozai timber" 
        url="https://www.kozaitimber.com"
        description="Traditional Japanese Timbers"
      />
    </ul>
  </section>

  <section>
    <h2 class="mt-16">Works in Progress</h2>
    <ul class="mt-8 space-y-6">
      <Project 
        title="immy" 
        description="An app to help people make decisions."
        wip
      />
      <Project 
        title="helpfulpython.com" 
        description="An introductory python course for you."
        wip
      />
    </ul>
  </section>
</Layout>
