---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog | Harry Keightley">
    <div class="mt-8">
        <h1 class="text-3xl font-semibold">Thoughts (404)</h1>
        <p class="mt-2 text-gray-800 font-mono">I currently have no thoughts</p>
    </div>
</Layout>