---
---
<ul class="flex mt-8 space-x-4 font-semibold items-center" >
    <a href="/">
        <li class="p-2 transition border hover:border-black cursor-pointer">
            <p  class="font-mono">HK</p>
        </li>
    </a>
    <li class="hover:underline">
        <a href="/projects">
            Projects
        </a>
    </li>
    <li class="hover:underline">
        <a href="/thoughts">
            Thoughts
        </a>
    </li>
    <li class="hover:underline">
        <a href="/resume.pdf">Resume</a>
    </li>
</ul>